.modern-corp-school {
  margin: 1rem;
  text-align: left;

  .block {
    background: rgb(152, 63, 93);
    width: 0.4rem;
    height: 0.8rem;
    display: inline-block;
    margin-right: 0.8rem;
  }

  .header {
    text-transform: uppercase;
  }

  .volunteer {
    margin: 1rem;

    .volunteers {
      border-bottom: 1px dashed gray;
      margin-bottom: 1rem;
    }

    .volunteers:last-child {
      border: none;
    }

    .date {
      color: rgb(152, 63, 93);
      font-size: 0.8rem;
    }

    ul li {
      list-style: none;
      padding: 0.2rem 0;
    }
    
    li::before {
      content: "• ";
      color: rgb(152, 63, 93);
      display: inline-block;
      margin-left: -1em;
      width: 1em;
    }
  }
}