@import './../../theme/colors.scss';

.resume-display-main {
  width: 60rem;
  background: $bgGray;

  .resume-display-nav {
    width: 24rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.resume-display-zero-state {
  background: $bgGray;
  height: 100%;
  display: flex;
  justify-content: center;

  .instructions {
    margin: auto;
    width: 100%;
  }
}
