.tp-main {
  font-family: Baskerville;

  h2, h3 {
    margin: 0;
    padding: 0;
  }

  h3 {
    margin-top: 1.3rem;
  }

  .tp-name {
    font-size: 2rem;
    font-weight: bolder;
  }

  .tp-contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .tp-address, .tp-social-links, .tp-phone-email {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
    }

    .tp-phone-icon {
      margin-right: 0.25rem;
    }
  }

  .tp-title {
    text-transform: uppercase;
    width: 100%;
    display: block;
    font-size: 2rem;
  }

  .tp-summary {
    align-content: center;
    display: grid;
    padding: 0 1rem;

    .tp-summary-inner {
      font-weight: bold;
      padding: 1rem 4rem;
      background-color: lightgray;
      width: auto;
      margin: auto;
    }
  }

  .tp-skills, .tp-volunteer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .tp-job {
    margin: 1rem 0;
    text-align: start;

    .tp-job-section {
      margin-bottom: 3rem;

      .tp-position-company {
        font-weight: bold;
      }
    }
  }
}