@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");

.modern-corp-main {
  font-family: "Arimo", sans-serif;
  display: grid;
  grid-template-columns: 30% 70%;

  .left {
    background-color: black;
    color: white;
    padding: 1rem;

    .circle-image {
    }

    .name {
      margin: 1.3rem;
      padding-bottom: 1.3rem;

      span {
        font-size: 2.3rem;
      }
    }

    .summary {
      text-align: start;
      margin: 0.5rem;
    }

    .mc-skills {
      text-align: start;
      margin: 0.5rem;
    }

    .mc-interests {
      text-align: start;
      margin: 0.5rem;
    }

    .mc-contact {
      text-align: start;
      margin: 0.5rem;
    }
  }

  .right {
    min-height: 10rem;
  }
}
